@model IEnumerable<RecuPj.Models.Banque>

@{
    ViewData["Title"] = "Index";
}

<h1>Espace des Banques</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreation)
            </th>
            <th> Changement </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreation)
            </td>
            <td class="text-danger ">
                    <a asp-action="Edit" asp-route-id="@item.Na" class="text-danger">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Na" class="text-danger">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Na" class="text-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
