@model RecuPj.Models.Recu

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Recu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModePaiement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModePaiement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payeur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payeur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NcNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NcNavigation.Ncheque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NdumNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NdumNavigation.Ndum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NfNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NfNavigation.Nfacture)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Nemuro" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
