@model RecuPj.Models.Cheque

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cheque</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontantLettre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontantLettre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontantChiffres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontantChiffres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Beneficiare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Beneficiare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BanqueNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BanqueNavigation.Na)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Ncheque">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
